
body, nav, header, footer {
    font-family: 'Muli';
}
/*:::::::::PHONE:::::::::*/
@media only screen and (max-width: 600px) {
    /*---------HEADER-----------*/
    header {
        margin: 70px auto 30px;
        color: #6ac9da;
    }
    
    header h1 {
        padding-top: 12px;
        margin: 0 35px;
        letter-spacing: .1rem;
        font-size: 2.5rem;
        text-shadow: 0px 0px 2px black;
    }
    
    header h2 {
        font-size: 1.2rem;
        letter-spacing: .43rem;
        margin: 0 35px;
        text-shadow: 0px 0px 2px black;
    }
    
    /*----------NAVBAR-----------*/
    
    #navbar {
        display: flex;
        justify-content: start;
        flex-direction: row;
        background-color: #1F2425;
        margin: 0 -2% 0;
        padding: 15px 0;
        position: fixed;
        width: 100%;
        top: 0;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.377);
    }
    
    #navbar div {
    font-size: 1.3rem;
    margin-left: 2%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.377);
    padding: 3px 18px;
    }
    
    #navwelcome {
        border: 2px solid #ff9d6f;
        border-radius: 6px;
    }

    #navwelcome a:link {
        background-color: #1F2425;
        color: #ff9d6f;

    }
    
    #navwelcome a:visited {
        color: #ff9d6f;
    }
    
    #navprojects {
        border: 2px solid rgb(252, 204, 132);
        border-radius: 6px;
        margin-left: -55px;
    }

    #navprojects a:link {
        color: rgb(252, 204, 132);
    }
    
    #navprojects a:visited {
        color: rgb(252, 204, 132);
    }
    
    #navbar a:link{
        text-decoration: none;
    }
    
    #navbar a:active {
        color: rgb(255, 243, 227);
    }
    
    #navbar a:hover {
        color: rgb(255, 243, 227);
    }
    
    /*---------BODY-------------*/
    body {
        background-color: #2d3435;
        margin: 0 2%;
    }
    
    section h1 {
        font-size: 2.25rem;
        margin: 0;
        padding-top: 25px;
        color: rgb(255, 243, 227);
        font-weight: 400;
    }
    
    section ul {
        font-size: 24px;
    }
    
    #welcome-section {
        background-color: #1F2425;
        border: 2px solid #ff9d6f;
        border-radius: 15px;
        padding: 0 35px;
        height: 99.7vh;
        overflow: auto;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.377);
        color: rgb(255, 243, 227);
    }

    #welcome-section figure {
        width: 30%;
        float: right;
        margin: 0 0 0 35px;
    }

    #welcome-section img {
        width: 100%;
        border-radius: 15px;
    }

    #welcome-text p{
        font-size: 24px;
        margin-top: 10px;
        text-align: justify;

    }

    #welcome-text ul {
        columns: 2;
        list-style-type: circle;
    }

    #projects {
        background-color: #1F2425;
        border: 2px solid rgb(252, 204, 132);
        border-radius: 15px;
        padding: 0 35px 35px;
        margin: 50px 0;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.377);
        color: rgb(255, 243, 227);
    }
    
    #projects ul {
        margin: 0 0 30px 0;
        list-style-type: circle;
    }
    
    #projects li {
        margin: 5px 0 ;
        font-size: 24px;
    }
    
    section a:link {
        text-decoration: underline;
        color: #6ac9da;
    }
    
    section a:visited {
        color: #6ac9da;
    }
    
    section a:hover {
        color: rgb(255, 243, 227);
    }
}

/*:::::::::DESKTOP:::::::::*/
@media only screen and (min-width: 601px) {
    /*---------HEADER-----------*/
    header {
        margin: 70px auto 30px;
        color: #6ac9da;
    }
    
    header h1 {
        padding-top: 12px;
        margin: 0 35px;
        letter-spacing: .1rem;
        font-size: 2.5rem;
        text-shadow: 0px 0px 2px black;
    }
    
    header h2 {
        font-size: 1.2rem;
        letter-spacing: .43rem;
        margin: 0 35px;
        text-shadow: 0px 0px 2px black;
    }
    
    /*----------NAVBAR-----------*/
    
    #navbar {
        display: flex;
        justify-content: start;
        flex-direction: row;
        background-color: #1F2425;
        margin: 0 -2% 0;
        padding: 15px 0;
        position: fixed;
        width: 100%;
        top: 0;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.377);
    }
    
    #navbar div {
    font-size: 1.3rem;
    margin-left: 2%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.377);
    padding: 3px 18px;
    }
    
    #navwelcome {
        border: 2px solid #ff9d6f;
        border-radius: 6px;
    }

    #navwelcome a:link {
        background-color: #1F2425;
        color: #ff9d6f;

    }
    
    #navwelcome a:visited {
        color: #ff9d6f;
    }
    
    #navprojects {
        border: 2px solid rgb(252, 204, 132);
        border-radius: 6px;
        margin-left: -55px;
    }

    #navprojects a:link {
        color: rgb(252, 204, 132);
    }
    
    #navprojects a:visited {
        color: rgb(252, 204, 132);
    }
    
    #navbar a:link{
        text-decoration: none;
    }
    
    #navbar a:active {
        color: rgb(255, 243, 227);
    }
    
    #navbar a:hover {
        color: rgb(255, 243, 227);
    }
    
    /*---------BODY-------------*/
    body {
        background-color: #2d3435;
        margin: 0 2%;
    }
    
    section h1 {
        font-size: 2.25rem;
        margin: 0;
        padding-top: 25px;
        color: rgb(255, 243, 227);
        font-weight: 400;
    }
    
    section ul {
        font-size: 24px;
    }
    
    #welcome-section {
        background-color: #1F2425;
        border: 2px solid #ff9d6f;
        border-radius: 15px;
        padding: 0 35px;
        height: 99.7vh;
        overflow: auto;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.377);
        color: rgb(255, 243, 227);
    }

    #welcome-section figure {
        width: 30%;
        float: right;
        margin: 0 0 0 35px;
    }

    #welcome-section img {
        width: 100%;
        border-radius: 15px;
    }

    #welcome-text p{
        font-size: 24px;
        margin-top: 10px;
        text-align: justify;

    }

    #welcome-text ul {
        columns: 2;
        list-style-type: circle;
    }

    #projects {
        background-color: #1F2425;
        border: 2px solid rgb(252, 204, 132);
        border-radius: 15px;
        padding: 0 35px 35px;
        margin: 50px 0;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.377);
        color: rgb(255, 243, 227);
    }
    
    #projects ul {
        margin: 0 0 30px 0;
        list-style-type: circle;
    }
    
    #projects li {
        margin: 5px 0 ;
        font-size: 24px;
    }
    
    section a:link {
        text-decoration: underline;
        color: #6ac9da;
    }
    
    section a:visited {
        color: #6ac9da;
    }
    
    section a:hover {
        color: rgb(255, 243, 227);
    }
    }
    

/*----------FOOTER----------*/
footer {
    color: rgb(255, 243, 227);
    letter-spacing: .5rem;
    text-align: center;
}