
body, nav, header, footer {
    font-family: 'Roboto', sans-serif;
}
/*:::::::::PHONE:::::::::*/
@media only screen and (max-width: 600px) {
    img {
        display: block;
        width: 100%;
    }
   
    section a:link {
        text-decoration: none;
    }

    section a:active {
        text-decoration: none;
    }

    section a:visited {
        text-decoration: none;
    }
    /*----------NAVBAR-----------*/
    
    #navbar {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        background-color: #2D2D2D;
        margin: 0;
        padding: 1rem 0;
        position: fixed;
        width: 100%;
        top: 0;
        box-shadow: 10px 1px 5px rgba(0, 0, 0, 0.15);
    }
    
    #navbar div {
    font-size: 1.3rem;
    margin-right: 2%;
    text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.15);
    padding: 0.1875rem ;
    }
    
    #navwelcome a:link {
        color: #39e1ff;
    }
    
    #navwelcome a:visited {
        color: #39e1ff;
    }
    
    #navprojects a:link {
        color: #e097ff;
    }
    
    #navprojects a:visited {
        color: #e097ff;
    }

    #navabout a:link {
        color: #ff8d67;
    }
    
    #navabout a:visited {
        color: #ff8d67;
    }
    
    #navbar a:link{
        text-decoration: none;
    }
    
    #navbar a:active {
        color: rgb(255, 243, 227);
    }
    
    #navbar a:hover {
        color: rgb(255, 243, 227);
    }
    
    /*---------BODY-------------*/
    body {
        background-color: #212121;
    }
    
    .welcome figure {
        width: 50%;
        float: right;
    }

    .welcome img {
        width: 100%;
        border-radius: 100%;
    }
    
    .welcome {
        background-image: linear-gradient(90deg,#9C73F4 1%, #F8825B);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        color: #2D2D2D;
    }
    .welcome h1 {
        text-align: center;
        padding-top: .75rem;
        margin: 0 auto;
        letter-spacing: .1rem;
        font-size: 2.5rem;
        color: white;
        font-family: Poppins;
        font-weight: 600;
    }
    
    .welcome h2 {
        font-size: 1.3rem;
        text-align: center;
        letter-spacing: .35rem;
        margin: -.5rem auto;
        font-weight: 400;
    }
    
/*---------PROJECTS-------------*/

    

    .projects {
        text-align: center;
        padding: 5rem 2rem;
      }
      
      .projects-header {
        max-width: 640px;
        margin: 0 auto 3rem auto;
        border-bottom: 0.2rem solid #B377CE;
        font-size: 2.5rem;
        color: white;
        padding-bottom: 1.2rem;
      }

      .project-tile {
          margin: 0;
          padding: 0;
      }

      .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 4rem;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 2rem;
      }

      .project-image {
        width: 100%;
        object-fit: fill ;
        border-radius: 15px;
      }
      
      .project-title {
        position: relative;
        bottom: 50%;
        font-size: 2rem;
        padding: 0;
        margin: 0 2rem;
        color: white;
        font-family: Poppins;
        font-weight: 800;
      }

      .project-title:hover {
        color: #00d9ff;
      }
    

    .about {
        text-align: center;
        padding: 0 2rem 10rem;
        color: white;
      }

      .about-header {
        max-width: 640px;
        margin: 0 auto 2rem auto;
        border-bottom: 0.2rem solid #F8825B;
        font-size: 2.5rem;
        color: white;
        padding-bottom: 1.2rem;
      }

    #about-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-weight: 100;
        font-family: poppins;
    }

    #about-text p{
        font-size: 1.2rem;
        text-align: left;
        margin: 0;

    }

    #about-text ul {         
        display: flex;
        flex-flow: wrap column;
        max-height: 150px; 
        list-style-type: circle;
        font-size: 1.2rem;
        text-align: left;
    }
    
/*Star Wars Stuff*/ 

div.grids {
    column-gap: 2rem;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;

}

.column-text {
    font-weight: 400;
    font-family: poppins;
    font-size: 1rem;
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    color: rgb(243, 229, 39);
    display: grid;
        grid-gap: 5rem;
        width: 100%;
        min-width: 11rem;
        margin: auto;
        margin-bottom: 1.5rem;
        text-align: center;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
}


/*----------Characters-------------*/

#characters {
    padding: 0 2rem 10rem;
    color: white;
  }

  .characters-header {
    max-width: 640px;
    margin: 0 auto 3rem auto;
    border-bottom: 0.2rem solid #F8825B;
    font-size: 2.5rem;
    color: white;
    padding-bottom: 1.2rem;
    text-align: center;
  }

  /*#people {
    column-gap: 3rem;
      display: flex;
      flex-flow: wrap;
      align-items: center;
  }/*



/*----------Species-------------*/

#speciessection {
    padding: 0 2rem 10rem;
    color: white;
  }

  .species-header {
    max-width: 640px;
    margin: 0 auto 3rem auto;
    border-bottom: 0.2rem solid #F8825B;
    font-size: 2.5rem;
    color: white;
    padding-bottom: 1.2rem;
    text-align: center;
  }

  /*#species {
    column-gap: 1.81rem;
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      align-items: center;
  }*/

/*----------FOOTER----------*/
footer {
    color: rgb(107, 107, 107);
    letter-spacing: .2rem;
    text-align: center;
}
}

/*:::::::::DESKTOP:::::::::*/
@media only screen and (min-width: 601px) {
    img {
        display: block;
        width: 100%;
    }
   
    section a:link {
        text-decoration: none;
    }

    section a:active {
        text-decoration: none;
    }

    section a:visited {
        text-decoration: none;
    }
    /*----------NAVBAR-----------*/
    
    #navbar {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        background-color: #2D2D2D;
        margin: 0;
        padding: 1rem 0;
        position: fixed;
        width: 100%;
        top: 0;
        box-shadow: 10px 1px 5px rgba(0, 0, 0, 0.15);
    }
    
    #navbar div {
    font-size: 1.3rem;
    margin-left: 1%;
    margin-right: 2%;
    text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.15);
    padding: 0.1875rem ;
    }
    
    #navwelcome a:link {
        color: #39e1ff;
    }
    
    #navwelcome a:visited {
        color: #39e1ff;
    }
    
    #navprojects a:link {
        color: #e097ff;
    }
    
    #navprojects a:visited {
        color: #e097ff;
    }

    #navabout a:link {
        color: #ff8d67;
    }
    
    #navabout a:visited {
        color: #ff8d67;
    }

    #navstarwars a:link {
        color: rgb(243, 229, 39);
    }
    
    #navstarwars a:visited {
        color: rgb(243, 229, 39);
    }
    
    #navbar a:link{
        text-decoration: none;
    }
    
    #navbar a:active {
        color: rgb(255, 243, 227);
    }
    
    #navbar a:hover {
        color: rgb(255, 243, 227);
    }
    
    /*---------BODY-------------*/
    body {
        background-color: #212121;
    }
    
    .welcome figure {
        width: 20rem;
        float: center;
    }

    .welcome img {
        width: 100%;
        border-radius: 100%;
    }
    
    .welcome {
        background-image: linear-gradient(90deg,#9C73F4 1%, #F8825B);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        color: #2D2D2D;
    }
    .welcome h1 {
        padding-top: .75rem;
        margin: 0 2rem;
        letter-spacing: .1rem;
        font-size: 4rem;
        color: white;
        font-family: Poppins;
        font-weight: 600;
    }
    
    .welcome h2 {
        font-size: 2rem;
        letter-spacing: .6rem;
        margin: -.5rem 2rem;
        font-weight: 400;
    }
    
/*---------PROJECTS-------------*/
    .projects {
        text-align: center;
        padding: 5rem 2rem;
      }
      
      .projects-header {
        max-width: 640px;
        margin: 0 auto 4rem auto;
        border-bottom: 0.2rem solid #B377CE;
        font-size: 3rem;
        color: white;
        padding-bottom: 1.2rem;
      }


      .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 4rem;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 4rem;
      }

      .project-image {
        width: 100%;
        object-fit: fill ;
        border-radius: 15px;
      }
      
      .project-title {
        position: relative;
        bottom: 50%;
        font-size: 2rem;
        padding: 0;
        margin: 0;
        color: white;
        font-family: Poppins;
        font-weight: 600;
      }

      .project-title:hover {
        color: #00d9ff;
      }
    

    .about {
        text-align: center;
        padding: 0 2rem 10rem;
        color: white;
      }

      .about-header {
        max-width: 640px;
        margin: 0 auto 3rem auto;
        border-bottom: 0.2rem solid #F8825B;
        font-size: 3rem;
        color: white;
        padding-bottom: 1.2rem;
      }

    #about-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-weight: 100;
        font-family: poppins;
    }

    #about-text p{
        font-size: 1.5rem;
        text-align: left;
        margin: 0;

    }

    #about-text ul {         
        display: flex;
        flex-flow: wrap column;
        max-height: 150px; 
        list-style-type: circle;
        font-size: 1.5rem;
        text-align: left;
    }


/*Star Wars Stuff*/ 

#starwarswelcome {
    background-image: url("https://www.xtrafondos.com/wallpapers/star-wars-logo-3654.jpg"); 
    background-position: center center; 
    background-size: 100% 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #2D2D2D;
}

div.grids {
    column-gap: 2rem;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;

}

.column-text {
    font-weight: 400;
    font-family: poppins;
    font-size: 1.25rem;
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    color: rgb(243, 229, 39);
    display: grid;
        grid-gap: 5rem;
        width: 100%;
        min-width: 15rem;
        margin: auto;
        margin-bottom: 1.5rem;
        text-align: center;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
}

#swbody {
    background-image: url("https://cutewallpaper.org/21/star-wars-starfield-background/Star-Wars-Backgrounds-Wallpaper-Cave.jpg"); 
    background-position: center center; 
}
/*----------NAVBAR-----------*/
    
.swnavbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-image: url("https://cutewallpaper.org/21/star-wars-starfield-background/Star-Wars-Backgrounds-Wallpaper-Cave.jpg"); 
    background-position: center center; 
    margin: 0;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 10px 1px 5px rgba(0, 0, 0, 0.15);
}

.swtabs {
font-size: 1.3rem;
margin-left: 1%;
margin-right: 2%;
text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.15);
padding: 0.1875rem ;
}

#swnavspecies a:link {
    color: #39e1ff;
}

#swnavspecies a:visited {
    color: #39e1ff;
}

#swnavcharacters a:link {
    color: #e097ff;
}

#swnavcharacters a:visited {
    color: #e097ff;
}

#swnavpp a:link {
    color: #ff8d67;
}

#swnavpp a:visited {
    color: #ff8d67;
}

.swtabs a:link{
    text-decoration: none;
}

#swnavbar a:active {
    color: rgb(255, 243, 227);
}

#swnavbar a:hover {
    color: rgb(255, 243, 227);
}

div.special {
    align-self: flex-start;
    background-color: red;
}

/*----------Characters-------------*/

#characters {
    padding: 0 2rem 10rem;
    color: white;
  }

  .characters-header {
    max-width: 640px;
    margin: 0 auto 3rem auto;
    border-bottom: 0.2rem solid #F8825B;
    font-size: 3rem;
    color: white;
    padding-bottom: 1.2rem;
    text-align: center;
  }

  /*#people {
    column-gap: 3rem;
      display: flex;
      flex-flow: wrap;
      align-items: center;
  }/*



/*----------Species-------------*/

#speciessection {
    padding: 0 2rem 10rem;
    color: white;
  }

  .species-header {
    max-width: 640px;
    margin: 0 auto 3rem auto;
    border-bottom: 0.2rem solid #F8825B;
    font-size: 3rem;
    color: white;
    padding-bottom: 1.2rem;
    text-align: center;
  }

  /*#species {
    column-gap: 1.81rem;
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      align-items: center;
  }*/

    
/*----------FOOTER----------*/
footer {
    color: rgb(107, 107, 107);
    letter-spacing: .2rem;
    text-align: center;
}
}